.activities-hero {
    background-image: url(../images/learn-2405206_1920.jpg);
    background-size: cover;
    background-position: center;
}

.activities-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.activity-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    align-items: center;
    margin: 10px;
}

.night-museum {
    background-image: url(../images/toa-heftiba-412579.jpg);
    background-size: cover;
    background-position: center;
}

.professor {
    background-image: url(../images/andrew-ruiz-348421-small.jpg);
    background-size: cover;
    background-position: center;
}

.holiday {
    background-image: url(../images/marek-piwnicki-iwabZE-qN_U-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.young-stars {
    background-image: url(../images/samuel-zeller-158996.jpg);
    background-size: cover;
    background-position: center;
}

.activity-img-container {
    width: 100%;
    height: 530px;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.activity-img-container h5, .activity-img-container p {
    background-color: #00000080;
}

.activity-img-container p {
    flex: 10;
    display: none;
    padding: 0px 10px;
}

.activity-img-container:hover p {
    display: block;
}

.activity-img-container h5 {
    padding: 20px 0px;
    flex: 1;
    border-radius: 30px 30px 0px 0px;
}

.activity-date {
    background-color: #FFA158;
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.activity-date h6 {
    background-color: #00000030;
    height: 100%;
    border-radius: 0px 0px 30px 30px;
}

@media screen and (max-width: 850px) {

    .activities-section {
        flex-direction: column;
    }

    .activity-card {
        width: 360px;
    }

    .activity-img-container {
        height: 300px;
    }

    .activity-date {
        height: 45px;
    }

    .activity-img-container p {
        display: block;
    }

}