.home-hero {
    background-image: url(../images/lab-512503_1920.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.event-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    height: auto;
    margin: 0px 100px;
}

.event-cards {
    position: relative;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    outline: solid 2px #243D67;
    background-size: cover;
    background-position: flex-start;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.event-section h2 {
    color: #000000;
    text-align: center;
}

#nextBtn, #prevBtn {
    background-color: white;
    border: solid 2px #243D67;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

.main-container h3 {
    align-self: flex-start;
    margin-left: 5%;
    color: #000000;
}

.event-section h2 {
    background-color: #FFFFFF;
    align-self: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* explorers section */

.explorers-section {
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.explorers-section h3 {
    color:#000000;
}

.explorer-cards {
    background-color: #243D67;
    border: solid 2px #E8E8EC;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
}

.explorer-cards img {
    width: 185px;
    height: auto;
    border-radius: 100%;
    border: 4px solid #E8E8EC;
    margin: 20px;
    flex: 1;
}

.explorer-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 20px 0px;
}

.explorer-info h4 {
    padding: 0px 0px 10px 0px;
}

.view-all-btn {
    color: #FFFFFF;
    text-shadow: #000000 1px 1px 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 850px) {
    .event-section {
        margin: 40px 0px;
        width: 280px;
        height: auto;
    }

    .explorers-section {
        margin: 0px;
    }

    .explorer-cards {
        flex-direction: column;
        align-items: center;
    }

    .explorer-info {
        align-items: center;
        padding: 0px 10px;
    }

    .explorer-info p {
        text-align: center;
    }

    .explorer-cards img {
        width: 85px;
    }
}
