body {
    background-color: #E8E8EC;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/*Header styling*/

header {
    background-color: #243D67;
    height: 90px;
    width: 100%;
    border-radius: 100px;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
}

header label, header input {
    display: none;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.logo img{
    height: 75px;
    width: auto;
}

nav {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #E8E8EC;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/*Main styling*/

main {
    margin: 50px 0px;
    width: 100%;
    height: auto;
}

.main-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Footer styling*/

footer {
    background-color: #243D67;
    color: #E8E8EC;
    height: 280px;
    width: 100%;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    flex: 1;
    margin: 0px 0px 10px 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex: 9;
    width: 100%;
    align-items: flex-start;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

/*Components styling*/

h1 {
    width: 100%;
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-size: 90px;
    margin: 0;
    color: #E8E8EC;
}

h2 {
    width: 100%;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 64px;
    margin: 0;
    font-style: italic;
    color: #E8E8EC;
}

h3 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    color: #E8E8EC;
}

h4 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    font-style: italic;
    color: #E8E8EC;
}

h5 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    color: #E8E8EC;
}

h6 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    text-decoration: underline;
    color: #E8E8EC;
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: #E8E8EC;
}

.cta-button {
    align-self: center;
    width: 200px;
    height: auto;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    background-color: #FFA158;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;
}

.cta-button:hover {
    width: 225px;
    font-size: 30px;
}

.cta-button a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #00000030;
    text-shadow: 2px 2px #000000;
    width: 100%;
    border-radius: 100px;
    text-align: center;
    padding: 15px 0px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 100%;
    margin: 30px 0px;
}

.hero-section h1, .hero-section h2{
    text-align: center;
    background-color: #00000030;
    height: 360px;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 850px) {
    header label, header input {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    #hamburger-menu {
        display: none;
    }

    nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0px;
        background-color: #E8E8EC;
        border-radius: 30px;
        border: 5px solid #243D67;
    }

    nav a {
        color: #243D67;
        padding: 10px;
        text-decoration: underline;
    }

    #hamburger-menu:checked ~ nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        flex: 4;
        padding: 0px 0px 0px 20px;
        justify-content: flex-start;
    }

    .hero-section {
        height: 110px;
        margin: 15px 0px;
    }

    main {
        margin: 20px 0px;
    }

    footer {
        height: 195px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 21px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .cta-button {
        width: 100px;
        font-size: 14px;
    } 

    .cta-button:hover {
        width: 125px;
        font-size: 18px;
    }
}