.visit-hero {
    background-image: url(../images/scott-webb-102825.jpg);
    background-size: cover;
    background-position: center;
}

.values-section {
    height: auto;
    width: auto;
    background-color: #243D67;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.location-open-section {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loc-open-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #243D67;
    border-radius: 100px;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.loc-open-container h3 {
    margin: 20px 0px;
}

.admission-section {
    height: auto;
    width: auto;
    background-color: #243D67;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    padding: 20px 50px;
    text-align: center;
}

.activities-food-shop-section {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.afs-container {
    flex: 1;
    border-radius: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.afs-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    align-items: center;
    background-color: #00000070;
    justify-content: space-between;
}

.afs-info h3 {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}

.afs-info p {
    width: 90%;
    height: 100%;
    text-align: center;
    display: none;
}

.cta-button a {
    display: block;
}

.cta-button {
    align-items: baseline;
}

.afs-info:hover p{
    display: block;
}

.afs-container a {
    text-decoration: none;
}

.activity {
    background-image: url(../images/scientific-2040795_1280-phone.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column
}

.food {
    background-image: url(../images/fallon-michael-L6gWVV20ah8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.shop {
    background-image: url(../images/library-1132573_1920.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .location-open-section {
        flex-direction: row;
        gap: 0px;
    }

    .loc-open-container {
        height: 210px;
        padding: 10px 0px;
    }

    .loc {
        border-radius: 100px 0px 0px 100px;
    }

    .open {
        border-radius: 0px 100px 100px 0px;
    }

    .activities-food-shop-section {
        position: relative;
        height: 180px;
        flex-direction: column;
    }

    .afs-container {
        position: absolute;
        inset: 0;
        height: auto;
    }

    .activity {
        animation: activityAnimate 30s linear 0s infinite;
    }

    .food {
        animation: foodAnimate 30s linear 0s infinite;
    }

    .shop {
        animation: shopAnimate 30s linear 0s infinite;
    }

    .afs-container p {
        display: block;
    }

    .cta-button {
        width: 130px;
    }

    .food, .shop {
        pointer-events: none;
    }
}

@keyframes activityAnimate {
    0%, 33% {opacity: 1;}
   34%, 66% {opacity: 0;}
   67%, 100% {opacity: 0;}
}

@keyframes foodAnimate {
    0%, 33% {opacity: 0;}
   34%, 66% {opacity: 1;}
   67%, 100% {opacity: 0;}
}

@keyframes shopAnimate {
    0%, 33% {opacity: 0;}
   34%, 66% {opacity: 0;}
   67%, 100% {opacity: 1;}
}