.activities-hero {
    background-image: url(images/learn-2405206_1920.jpg);
    background-size: cover;
    background-position: center;
}

.activities-section {}

.activity-card {}

.activity-img-container {}

.activity-img {}

.activity-info {}

.activity-date {}