.activities-hero {
    background-image: url(images/learn-2405206_1920.jpg);
    background-size: cover;
    background-position: center;
}

.activities-section {
    display: flex;
    flex-direction: row;
}

.activity-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 590px;
}

.night-museum {
    background-image: url(images/toa-heftiba-412579.jpg);
    background-size: cover;
    background-position: center;
}

.professor {
    background-image: url(images/andrew-ruiz-348421-small.jpg);
    background-size: cover;
    background-position: center;
}

.holiday {
    background-image: url(images/marek-piwnicki-iwabZE-qN_U-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.young-stars {
    background-image: url(images/samuel-zeller-158996.jpg);
    background-size: cover;
    background-position: center;
}

.activity-img-container {
    width: 300px;
    height: 530px;
}

.activity-date {
    background-color: #FFA158;
    width: 100%;
    height: 60px;
}