.exhibitions-hero {
    background-image: url(images/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-position: center;
}

.exhibitions-section {}

.exhibition-img {}

.exhibition-info {}

