.exhibitions-hero {
    background-image: url(images/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-position: center;
}

.exhibitions-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.exhibition-img {
    flex: 3;
    height: 520px;
    border: 4px solid #243D67;
    border-radius: 100px;
}

.exhibition-img img {
    height: inherit;
    width: 100%;
    border-radius: 100px;
}

.exhibition-info {
    flex: 2;
    background-color: #243D67;
    border-radius: 100px;
    height: inherit;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

