.get-involved-hero {
    background-color: #FFA158;
    height: 110px;
}

.get-involved-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.involved-options {
    display: flex;
    flex-direction: row;
    background-color: #243D67;
    border-radius: 100px;
    height: auto;
    width: 100%;
}

.involved-info {
    flex: 3;
    border-radius: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.involved-img {
    flex: 1;
    border-radius: 100px;
    width: auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.involved-img img {
    width: inherit;
    height: 270px;
    border-radius: 100px;
    margin: 20px;
}

.involved-info > .cta-button {
    align-self: center;
    margin-top: 20px;
}