.home-hero {
    background-image: url(images/lab-512503_1920.jpg);
    background-size: cover;
    background-position: center;

    align-items: center;
    justify-content: center;
}

.event-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: auto;
    margin: 0px 100px;
}

.event-cards {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;    
    background-color: #FFFFFF;
    outline: solid 2px #243D67;
}

.event-section h2, .event-section h3 {
    color: #000000;
}

.event-cards img {
    object-fit: cover;
    height: 330px;
    width: 100%;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000000;
}

.active-btn {
    background-color: #00000050;   
    outline: solid 2px #000000;
}

/* explorers section */

.explorers-section {
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.explorers-section h3 {
    color:#000000;
}

.explorer-cards {
    background-color: #243D67;
    border: solid 2px #E8E8EC;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
}

.explorer-cards img {
    width: 185px;
    height: auto;
    border-radius: 100%;
    border: 4px solid #E8E8EC;
    margin: 20px;
    flex: 1;
}

.explorer-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 20px 0px;
}

.explorer-info h4 {
    padding: 0px 0px 10px 0px;
}

@media screen and (max-width: 850px) {
    .event-section {
        margin: 40px 0px;
        width: 280px;
        height: 370px;
    }

    .explorers-section {
        margin: 0px;
    }

    .explorer-cards img {
        width: 85px;
    }

    .cta-button {
        align-self: flex-start;
    }
}