.home-hero {
    background-image: url(images/lab-512503_1920.jpg);
    background-size: cover;
    background-position: center;
}

.event-section {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.event-cards {
    display: flex;
    flex-direction: column;
}

.event-cards img {
    height: 400px;
    width: 100%;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000000;
}

.active-btn {
    border: solid 2px #FFFFFF;
}