.home-hero {
    background-image: url(images/lab-512503_1920.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    height: auto;
    margin: 0px 100px;
}

.event-cards {
    position: relative;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    outline: solid 2px #243D67;
    animation: eventAnimate 15s linear 0s infinite;
}

.event-section h2, .event-section h3 {
    color: #000000;
}

.main-container h3 {
    align-self: flex-start;
    margin-left: 5%;
}

.event-section h2 {
    background-color: #FFFFFF;
    align-self: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.event1 {
    text-align: center;
    animation: event1 15s linear 0s infinite;
}

.event2 {
    text-align: center;
    animation: event2 15s linear 0s infinite;
}

.event3 {
    text-align: center;
    animation: event3 15s linear 0s infinite;
}

/* explorers section */

.explorers-section {
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.explorers-section h3 {
    color:#000000;
}

.explorer-cards {
    background-color: #243D67;
    border: solid 2px #E8E8EC;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
}

.explorer-cards img {
    width: 185px;
    height: auto;
    border-radius: 100%;
    border: 4px solid #E8E8EC;
    margin: 20px;
    flex: 1;
}

.explorer-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 20px 0px;
}

.explorer-info h4 {
    padding: 0px 0px 10px 0px;
}

@media screen and (max-width: 850px) {
    .event-section {
        margin: 40px 0px;
        width: 280px;
        height: auto;
    }

    .explorers-section {
        margin: 0px;
    }

    .explorer-cards {
        flex-direction: column;
        align-items: center;
    }

    .explorer-info {
        align-items: center;
        padding: 0px 10px;
    }

    .explorer-info p {
        text-align: center;
    }

    .explorer-cards img {
        width: 85px;
    }
}

@keyframes eventAnimate {
    0%, 33% {background-image: url(images/scientific-2040795_1280.jpg);
        background-size: cover;
        background-position: center;
    }
    34%, 66% {background-image: url(images/andrew-ruiz-348421.jpg); 
        background-size: cover;
        background-position: top;
    }
    67%, 100% {background-image: url(images/marek-piwnicki-iwabZE-qN_U-unsplash.jpg);
        background-size: cover;
        background-position: top;
    }
}

@keyframes event1{
   0%, 33% {opacity: 1;}
   34%, 66% {opacity: 0;}
   67%, 100% {opacity: 0;}
}

@keyframes event2{
   0%, 33% {opacity: 0;}
   34%, 66% {opacity: 1;}
   67%, 100% {opacity: 0;}
}

@keyframes event3{
   0%, 33% {opacity: 0;}
   34%, 66% {opacity: 0;}
   67%, 100% {opacity: 1;}
}