body {
    background-color: #E8E8EC;
}

header {
    background-color: #243D67;
    color: #E8E8EC;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    background-color: #243D67;
    color: #E8E8EC;
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-size: 90px;
}

h2 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 64px;
}

h3 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 48px;
}

h4 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 36px;
}

h5 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 32px;
}

h6 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 24px;
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 20px;
}

.cta-button {
    width: 200px;
    height: 75px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    background-color: #FFA158;
    color: #FFFFFF;
    text-shadow: 2px #000000;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 26px;
}

@media screen and (max-width: 850px) {
    footer {
        height: 165px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .cta-button {
    width: 90px;
    height: 45px;
    font-size: 14px;
}
    
}