body {
    background-color: #E8E8EC;
}

/*Header styling*/

header {
    background-color: #243D67;
    color: #E8E8EC;
    height: 90px;
    width: 100%;
    border-radius: 100px;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.logo img{
    height: 75px;
    width: auto;
}

nav {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #E8E8EC;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;

}

/*Main styling*/

main {
    margin: 50px 0px;
}

.main-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Footer styling*/

footer {
    background-color: #243D67;
    color: #E8E8EC;
    height: 280px;
    width: 100%;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    flex: 1;
    margin: 0px 0px 10px 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex: 9;
    width: 100%;
    align-items: flex-start;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

/*Components styling*/

h1 {
    width: 100%;
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-size: 90px;
    margin: 0;
    color: #E8E8EC;
}

h2 {
    width: 100%;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 64px;
    margin: 0;
    font-style: italic;
    color: #E8E8EC;
}

h3 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    color: #E8E8EC;
}

h4 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    font-style: italic;
    color: #E8E8EC;
}

h5 {
    font-family: 'zilla Slab';
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    color: #E8E8EC;
}

h6 {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    text-decoration: underline;
    color: #E8E8EC;
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: #E8E8EC;
}

.cta-button {
    width: 200px;
    height: 75px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    background-color: #FFA158;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0px 20px;
}

.cta-button a {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-section {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 100%;
    margin: 30px 0px;
}

.hero-section h1, .hero-section h2{
    text-align: center;
    background-color: #00000030;
    height: 360px;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 850px) {
    footer {
        height: 165px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .cta-button {
    width: 90px;
    height: 45px;
    font-size: 14px;
}
    
}