.visit-hero {
    background-image: url(images/scott-webb-102825.jpg);
    background-size: cover;
    background-position: center;
}

.values-section {
    height: auto;
    width: 100%;
    background-color: #243D67;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
}

.location-open-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loc-open-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #243D67;
    border-radius: 100px;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: flex-start
}

.admission-section {
    height: auto;
    width: 100%;
    background-color: #243D67;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    padding: 10px 50px;
}

.activities-food-shop-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.afs-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: flex-start;
}

.afs-container h3, .afs-container p {
    background-color: #00000050;
    width: 100%;
    height: 400px;
    border-radius: 100px;
}

.activity {
    background-image: url(images/scientific-2040795_1280-phone.jpg);
    background-size: cover;
    background-position: center;
}

.food {
    background-image: url(images/fallon-michael-L6gWVV20ah8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.shop {
    background-image: url(images/library-1132573_1920.jpg);
    background-size: cover;
    background-position: center;
}