.visit-hero {
    background-image: url(images/scott-webb-102825.jpg);
    background-size: cover;
    background-position: center;
}

.values-section {}

.location-open-section {}

.location {}

.opening-hours {}

.admission-section {}

.activities-food-shop-section {}

.activities-cta {}

.food {}

.shop {}

