.visit-hero {
    background-image: url(images/scott-webb-102825.jpg);
    background-size: cover;
    background-position: center;
}

.values-section {
    height: auto;
    width: 90%;
    background-color: #243D67;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;
}

.location-open-section {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loc-open-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #243D67;
    border-radius: 100px;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: flex-start
}

.loc-open-container h3 {
    margin: 20px 0px;
}

.admission-section {
    height: auto;
    width: 90%;
    background-color: #243D67;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    padding: 20px 50px;
    text-align: center;
}

.activities-food-shop-section {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.afs-container {
    flex: 1;
    border-radius: 100px;
    width: 100%;
    height: 400px;
}

.afs-container h3 {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    border-radius: 100px 100px 0px 0px;
    flex: 1;
    text-align: center;
    padding-top: 20px;
}
.afs-container p, .afs-container a {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 0px 0px 100px 100px;
    text-align: center;
}

.afs-container a {
    text-decoration: none;
}

.activity {
    background-image: url(images/scientific-2040795_1280-phone.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column
}

.food {
    background-image: url(images/fallon-michael-L6gWVV20ah8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.shop {
    background-image: url(images/library-1132573_1920.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}